@model IEnumerable<Clinica.Web.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Pacientes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-borderless">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor((model => model.Nome))
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataNascimento)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td scope="row">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
                <td scope="row">
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
                <td scope="row" id="data">
                @Html.DisplayFor(modelItem => item.dataNascimento)
            </td>
                <td scope="row">
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
                <td scope="row">
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
                <td scope="row" class="dados-paciente">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td scope="row" class="button-edit">
                <a role="button" class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <a role="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>  
            </td>
        </tr>
}
    </tbody>
</table>

