@model IEnumerable<Clinica.Web.Models.Paciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-borderless">
    <thead>
        <tr>
            <th class="col">
                @Html.DisplayNameFor((model => model.Nome))
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataNascimento)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="col"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="row">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
                <td class="row">
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
                <td class="row">
                @Html.DisplayFor(modelItem => item.dataNascimento)
            </td>
                <td class="row">
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
                <td class="row">
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
                <td class="row">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                <td class="row">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
