
@model IEnumerable<Clinica.Web.Models.Exame>


@{
    ViewData["Title"] = "Index";
}

<h1> Exames </h1>


<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-borderless">

    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor((model => model.NomeExame))
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Observacoes)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.TipoExameId)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.NomeExame)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Observacoes)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.TipoExameId)
                </td>
                <td scope="row" class="button-edit">
                    <a role="button" class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a role="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

